$containerWidht: 940px;
$baseFontSize: 18px;

$tablets: 768px ;
$phones: 480px;

$blue: #1968b1;
$yellow: #fedb3f;
$grey: #666666;
$black: #292929;

$z-fixed-menu: 100;

@import "media";

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "layout";

@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/benefits";
@import "components/benefit";
@import "components/headline";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/reviews__switcher";
@import "components/form";
@import "components/order-section";
@import "components/radio";
@import "components/map-section";
@import "components/fixed-menu";
@import "components/footer";
@import "components/hamburger";
@import "components/slider-section";
@import "components/slider";
@import "components/dropdown";
