.benefits {
  display: flex;
  justify-content: center;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones {
    padding: 0;
  }

  &:before {
    content: url("../img/decor.png");
    position: absolute;
    top: rem(30px);
    right: 0;
    transform: translateX(50%);
    margin-top: rem(28px);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }

  @include tablets {
    &::before {
      display: none;
    }
  }
}
