.btn {
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(19px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  color: #000000;
  background: $yellow;
  border: none;

  &:hover {
    background: #ffd517;
  }

  &--theme--transparent {
    background: transparent;
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(22px);
    color: #ffffff;
    text-transform: none;

    &:hover {
      background: transparent;
      color: #ffd517;
    }
  }

  @include tablets {
    padding: rem(21px) rem(41px);
  }
}
