.form {
  display: flex;
  color: white;

  @include tablets {
    flex-direction: column;
    padding: 0 14%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }

}

.form__row {
  display: flex;
  margin-bottom: rem(18px);
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  border: rem(3px) solid transparent;

  &-textarea {
    height: rem(159px);
    resize: none;
  }

  &:focus {
    border-color: $yellow;
    outline: none;
  }

  @include tablets {
    padding: rem(6px) rem(11px);
  }
}

.input__error {
  border-color: red;
}

.form__input-textarea {
  @include tablets {
    height: rem(89px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(24px);

  @include tablets {
    justify-content: center;
  }
}

.form__btns {
  margin: rem(45px) 0 rem(85px);

  @include tablets {
    display: flex;
    justify-content: center;
    margin-bottom: rem(150px);
  }
}
