.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    align-items: center;
  }
}

.logo {
  height: rem(45px);
  width: rem(69px);
  fill: white;
}

.menu {
  margin: 0 rem(30px);
  padding-top: rem(5px);

  @include tablets {
    display: none;
    position: fixed;
    background: #333537;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    flex-direction: column;
    font-weight: 400;
    font-size: rem(36px);
    line-height: rem(72px);
  }

  &_active {
    display: flex;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.menu__item {
  margin-right: rem(25px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__elem {
  height: rem(15px);
  width: rem(13px);
  margin-right: rem(6px);
  fill: white;
}

.phone-number__black {
  fill: black;
}

.phone-number__text {
  white-space: nowrap;
}
