.hero {
  background: url("../img/bg.png")  no-repeat;
  background-color: $blue;
  background-size: cover;
  height: 100vh;
  min-height: rem(650px);
  color: #ffffff;
  padding: rem(22px) 0 rem(65px);

  @include tablets {
    background-position: 100% rem(90px);
  }

  @include phones {
    background-position: 80% rem(90px);
  }

}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__title-section {
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hero__main-title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(58px);
  margin-bottom: rem(31px);
  text-transform: uppercase;

  @include tablets {
    margin-bottom: rem(16px);
  }

  @include phones {
    font-size: rem(40px);
  }
}

.hero__title-descr {
  font-size: rem(21px);
  margin-bottom: rem(82px);

  @include tablets {
    margin-bottom: rem(44px);
  }
}
