.interactive-avatar {
  width: rem(80px);
  height: rem(80px);
  border: rem(6px) solid transparent;
  border-radius: 50%;

  &:hover {
    border-color: $yellow;
  }
}

.interactive-avatar.active {
  border-color: $yellow;
}
