.reviews__list {
  position: relative;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: .3s;
  opacity: 0;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display {
  background: #f8faf9;
  padding: rem(50px) rem(45px) rem(34px);
  margin-bottom: rem(14px);

  @include tablets {
    margin-bottom: rem(32px);
  }
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(260px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-bottom: rem(32px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(32px);
}

.reviews__title {
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(22px);
  color: black;

}

.reviews__text {
  margin-bottom: rem(36px);

  @include tablets {
    margin-bottom: rem(16px);
    margin-top: rem(16px);
  }
}

.reviews__author {
  font-size: rem(18px);
  font-weight: bold;
  color: black;
}
