.section {
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font--color-white {
    color: white;
  }

}

.section__title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(58px);
  margin-bottom: rem(60px);
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.section__title-reviews {
  margin: rem(90px) 0 rem(35px);
}
