.slider {
  display: flex;
  align-items: center;
  position: relative;
}

.slider__arrow {
  position: absolute;
  top: 45%;
  fill: #F8FAF9;
  cursor: pointer;

  @include tablets {
    top: 25%;
  }

  @include phones {
    top: 15%;
  }
}

.slider__arrow-right {
  right: 0;
}

.slider__arrow-icon {
  width: rem(13.5px);
  height: rem(27px);
}

.products__item {
  padding-left: rem(65px);
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }
}

.product__shop {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg-slider.png) center no-repeat;
  background-size: contain;

  @include tablets {
    width: 60%;
  }
}

.product__img {
  @include tablets {
    width: 78%;
  }
}

.product__content {
  flex: 1;
  margin-left: rem(64px);

  @include tablets {
    margin: 0;
  }
}

.product__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(91px);
  height: rem(91px);
  background: #3A587E;
  border-radius: rem(4px);
  cursor: pointer;
  position: relative;

  &:hover .dropdown {
    display: block;
  }

  @include tablets {
    display: none;
  }
}

.product__icon {
  height: rem(38px);
  width: rem(38px);
  fill: white;
  margin-bottom: rem(7px);
}

.product__modal-text {
  font-weight: 700;
  line-height: rem(17px);
  color: #FFFFFF;
}

.product__title {
  font-weight: 700;
  font-size: rem(36px);
  line-height: rem(43px);
  margin: rem(52px) 0 rem(24px);
  color: #292929;
  text-transform: uppercase;

  @include tablets {
    margin: rem(8px) 0 rem(10px);
  }
}

.product__content-descr {
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__text {
  margin-right: rem(50px);

  @include tablets {
    width: 66%;
    margin-right: 0;
    margin-bottom: rem(23px);
  }
}

.product__descr {
  display: flex;
  justify-content: flex-start;
  margin-top: rem(8px);
}

.product__descr-text {
  padding-right: rem(55px);

  &:last-child {
    padding-right: 0 ;
  }
}

.product__descr-title {
  margin-bottom: 0;
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(22px);
}

.product__descr-info {
  font-weight: 700;
  font-size: rem(18px);
  line-height: rem(22px);
  color: #000000;
}

.product__info {
  display: flex;
  align-items: center;
  margin-top: rem(15px);

  @include tablets {
    margin: rem(25px) 0 rem(88px);
  }
}

.product__price {
  font-weight: 300;
  font-size: rem(60px);
  line-height: rem(60px);
  color: #151515;
  margin-right: rem(64px);
  white-space: nowrap;
}

